.header {
	@apply p-5 flex justify-center flex-wrap gap-7 bg-secondary text-[16px];

	> .backBtn {
		@apply text-textPrimary hover:text-black cursor-pointer;
		transition: color 0.6s ease;
	}

	> li {
		list-style: none;
		> a {
			@apply text-textPrimary hover:text-black;
			transition: color 0.6s ease;
			text-decoration: none;
		}
	}

	> .logOut {
		@apply text-textPrimary hover:text-black cursor-pointer;
		transition: color 0.6s ease;
	}
}
