// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import './reset';
:root {
	--color-primary: 255 255 255;
	--color-secondary: 82 149 204;
	--color-button-hover: 150 200 255;
	--color-background: 230 230 230;
	--color-text-primary: 255 255 255;
	--color-text-secondary: 0 0 0;
}
#root {
	min-height: 100%;
	background-color: rgb(var(--color-background));
}
body {
	font-family: 'Montserrat', sans-serif;
}
